/* src/styles/ContactForm.css */

/* General Contact Form Section Styling */
.contact-form-section {
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .contact-form-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form-container h2 {
    font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  background: linear-gradient(90deg, #ffffff, #a7a9be);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  }
  
  /* Form Styling */
  .contact-form {
    background: radial-gradient(ellipse at bottom, rgba(56, 58, 89, 0.3), transparent);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 30px;
    border-radius: 8px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-align: left;
    position: relative;
    overflow: hidden;
  }
  
  .form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group label {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #2c2c2c; /* Dark background for input fields */
    color: white;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    background-color: #3c3c3c; /* Slightly lighter background on focus */
  }
  
  /* Button Styling */
  .submit-btn {
    padding: 12px 20px;
    background-color: white;  /* Blue button */
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .submit-btn:hover {
    background-color: #5a65e6; /* Darker blue on hover */
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .contact-form-container h2 {
      font-size: 2.5rem;  /* Smaller title on mobile */
    }
  
    .form-group label {
      font-size: 1rem;  /* Smaller label font size */
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 1rem;  /* Smaller input fields on mobile */
      padding: 12px;
    }
  
    .submit-btn {
      font-size: 01rem;  /* Smaller button on mobile */
    }
  }
  